@charset "utf-8";

body {
	font-family: Meiryo, Sans-Serif;
	font-size: 20px;
	line-height: 1.33em;
	padding: 24px;
	background-color: #fbf9f7;
	color: #222;
}

button {
	font: inherit;
}

* {
	box-sizing: border-box;
}

#main {
	display: block;
	position: relative;
	width: 600px;
	height: 600px;
}

.scene {
	display: block;
	position: absolute;
	width: 600px;
	height: 600px;
}

.scene * {
	display: block;
	position: absolute;
}

.label, .link, .command {
	margin: 0px;
	padding: 0px;
	/*background-color: #dd00aa;*/ /* 仮 */
	color: #fff;
}

.link:hover, .link:active, .command:hover, .command:active {
	cursor: pointer;
	color: #ffeb7c;
}

.command {
	padding-left: 20px;
}

.command:hover, .command:active {
	background: url(img/cursor.png) no-repeat left center;
}

.label > span, .link > span, .command > span {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	line-height: 1em;
	/*background-color: #ff00cc;*/ /* 仮 */
}
